<div id="controls">
    <label for="num_nodes">Number of Nodes:</label>
    <input type="number" id="num-nodes-input" />
    <input type="button" id="start-btn" value="Start"/>
    <input style="display:none;" type="button" id="stop-btn" value="Stop"/>
</div>
<!--script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/bitcoin.js") %>"/></script-->